################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.vs/MvvmDialogs/v15/sqlite3
/.vs/MvvmDialogs/v15
